:root {
  --slidev-theme-surface-light: rgb(245 251 247);
  --slidev-theme-surface-dark: rgb(14 21 19);
  --slidev-theme-primary-light: rgb(197 18 54);
  --slidev-theme-primary-dark: rgb(241 101 129);
  --slidev-theme-outline: gray;
}

body {
  --slidev-theme-surface: light-dark(
    var(--slidev-theme-surface-light),
    var(--slidev-theme-surface-dark)
  );
  --slidev-theme-primary: light-dark(
    var(--slidev-theme-primary-light),
    var(--slidev-theme-primary-dark)
  );
  --slidev-theme-code-bg: light-dark(rgb(255 255 255), rgb(18 18 18));
}

.tetraliane-layout {
  @apply px-24 py-20 text-[1.1rem] h-full;
  background-color: var(--slidev-theme-surface);
}

.tetraliane-layout h1 {
  @apply text-5xl mb-6;
}

.tetraliane-layout p,
.tetraliane-layout ul {
  @apply my-2;
}

.tetraliane-layout ul {
  @apply list-disc pl-8;
}

.tetraliane-layout strong {
  color: var(--slidev-theme-primary);
}

.tetraliane-layout pre {
  border: solid 1px var(--slidev-theme-outline);
}
.tetraliane-layout code {
  @apply px-1 py-0.5 rounded;
  /* inline code style */
  border: solid 1px var(--slidev-theme-outline);
  background-color: var(--slidev-theme-code-bg);
}
.tetraliane-layout pre > code {
  /* code block style */
  border: none;
  background: none;
}

.tetraliane-layout table {
  @apply w-full;
  border-top: solid 1.5px var(--slidev-theme-outline);
  border-bottom: solid 1.5px var(--slidev-theme-outline);
}
.tetraliane-layout thead {
  border-bottom: solid 1px var(--slidev-theme-outline);
}
.tetraliane-layout th,
.tetraliane-layout td {
  @apply py-1;
}
